<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://me2.do/5BvBFJ57">
</head>
<body>
	<h1>m1.html</h1>
	<!-- 
	
		Thyemleaf Expression
		- EL/JSTL 유사
		
		1. Variable Expressions, 변수 표현식
		- ${}
		
		2. Selection Variable Expression, 선택 변수 표현식
		- *{}
		
		3. Message Expressions, 메시지 표현식
		- #{}
		
		4. Link URL Expressions, 링크 주소 표현식
		- @{}
		
		5. Fragment Expressions, 조각 페이지 표현식
		- ~{}
		
		
		th:text="${}"
		- 컨트롤러에서 전달받은 데이터를 접근한다.
		- 해당 HTML 태그에 데이터를 PCDATA로 출력한다.(데이터 바인딩)
		before) <div th:text="${num}"></div>
		after ) <div>100</div>
	
	 -->
	 
	<h2>변수 표현식</h2>
	 
	<div>${num}</div> <!-- EL 이라는 사실조차 인식을 못한다. 따라서 1번 변수표현식으로 사용한다. -->
	<div th:text="${num}"></div> <!-- 변수표현식은 반드시 태그가 있어야 하고, 속성을 적는데 속성은 타임리프 속성이어야한다. namespace 접두어를 적는다. -->
	<div th:text="${num}">기존 데이터</div> <!-- 기존의 PC데이터는 덮어쓰기 처리 되어 사라진다. -->
	 
	<div>제가 가지고 있는 숫자는 100입니다.</div>
	<div th:text="'제가 가지고 있는 숫자는 100입니다.'"></div><!-- Thymeleaf가 인식할 수 있는 구문이 아니라 상수가 오면 에러가 발생한다. > 타임리프 안에서는 문자열을 홑따옴표('')로 표현한다. -->
	<div th:text="'제가 가지고 있는 숫자는 ${num}입니다.'"></div>
	<div th:text="'제가 가지고 있는 숫자는 ' + ${num} + '입니다.'"></div>

	<div>제가 가지고 있는 숫자는 <span th:text="${num}"></span>입니다.</div>
	
	<div th:text="${txt}"></div>
	
	<div>이름: 홍길동</div>
	<div>이름: <span th:text="${txt}"></span></div>
	<div th:text="'이름: ' + ${txt}"></div>



</body>
</html>